.body {
    background-color: #000;
}

.body__overlay_enabled {
    background-color: #000;
    opacity: 0.5;
}

.page {
    max-width: 1280px;
    min-width: 320px;
}

.header {
    display: flex;
}

.header__container {
    border-bottom: 1px solid #545454;
    max-width: 880px;
    width: 100%;
    margin: 45px auto 40px;
}

@media screen and (max-width: 928px) {
    .header__container {
        max-width: 700px;
    }
}

@media screen and (max-width: 729px) {
    .header__container {
        max-width: 320px;
        margin: 26px auto 0;
    }
}

.header__logo {
    display: flex;
    margin: 0 0 41px 0;
}
@media screen and (max-width: 729px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin: 0 0 31.6px 27px;
    }
}

.profile {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 928px) {
    .profile {
        max-width: 700px;
    }
}

@media screen and (max-width: 729px) {
    .profile {
        max-width: 282px;
        margin: 42px auto 36px;
    }
}

.profile__columns {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 729px) {
    .profile__columns {
        flex-direction: column;
    }
}

.profile__column_content_info {
    display: flex;
}

@media screen and (max-width: 729px) {
    .profile__column_content_info {
        flex-direction: column;
    }
}

.profile__image {
    width: 120px;
    border-radius: 100%;
    object-fit: contain;
}

@media screen and (max-width: 729px) {
    .profile__image {
        display: flex;
        margin: 0 auto;
    }
}

.profile__column_content_editable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 30px;
    position: relative;
}

@media screen and (max-width: 729px) {
    .profile__column_content_editable {
        margin: 0;
        align-items: center;
    }
}

.profile__title {
    min-width: 337px;
    width: 100%;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 114%;
    margin: 0;
}

@media screen and (max-width: 729px) {
    .profile__title {
        min-width: 189px;
        font-size: 27px;
        line-height: 33px;
        margin: 26px 0 0 0;
        text-align: center;
    }
}

.profile__edit-button {
    width: 24px;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 55px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 729px) {
    .profile__edit-button {
        width: 18px;
        right: 19px;
        bottom: 32px;
    }
}

.profile__paragraph {
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

@media screen and (max-width: 729px) {
    .profile__paragraph {
        font-size: 14px;
        line-height: 17px;
        margin: 9px 0 0 0;
    }
}

.profile__column_content_add-button {
    display: flex;
    align-items: center;
}

.profile__add-button {
    display: flex;
    width: 150px;
    height: 50px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 729px) {
    .profile__add-button {
        width: 282px;
        margin: 31px 0 0 0;
    }
}

.elements {
    margin: 50px 0 auto;
}

@media screen and (max-width: 729px) {
    .elements {
        margin: 36px 0 auto;
    }
}

.elements__cards {
    margin: 0 auto;
    max-width: 880px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 17px;
    row-gap: 20px;
}

@media screen and (max-width: 928px) {
    .elements__cards {
        max-width: 594px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 30px;
    }
}

@media screen and (max-width: 729px) {
    .elements__cards {
        max-width: 282px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}

.element__rectangle {
    width: 282px;
    height: 361px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    margin: 0;
}

.element__photo {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0 0;
}

.element__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    position: absolute;
    bottom: 26px;
    left: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
}

.element__like-image_inactive {
    position: absolute;
    right: 20px;
    bottom: 30px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

.element__like-image_inactive:hover {
    opacity: 0.5;
}

.footer {
    max-width: 880px;
    width: 100%;
    margin: 66px auto 60px;
}

@media screen and (max-width: 928px) {
    .footer {
        max-width: 700px;
        margin: 40px auto 30px;
    }
}

@media screen and (max-width: 729px) {
    .footer {
        max-width: 282px;
        margin: 48px auto 36px;
    }
}

.footer__copyright {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width: 729px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
}

.popup {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}

.popup__opened {
    display: block;
}

.popup__window {
    width: 430px;
    height: 330px;
    background-color: #fff;
    border-radius: 10px;
    position: fixed;
    top: 195px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

@media screen and (max-width: 729px) {
    .popup__window {
        width: 282px;
        height: 322px;
        top: 123px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.popup__close-button {
    position: absolute;
    right: -40px;
    top: -40px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

@media screen and (max-width: 729px) {
    .popup__close-button {
        right: 0px;
        top: -37px;
        width: 20px;
        height: 20px;
    }
}

.popup__close-button:hover {
    opacity: 0.6;
}

.popup__content {
    max-width: 358px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 729px) {
    .popup__content {
        max-width: 238px;
    }
}

.popup__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
    padding-top: 34px;
}

@media screen and (max-width: 729px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        padding-top: 25px;
    }
}

.popup__name-field {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 48px 0 0 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 8px;
    display: block;
    width: 100%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
}

@media screen and (max-width: 729px) {
    .popup__name-field {
        margin: 75px 0 0 0;
    }
}

.popup__description-field {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 30px 0 0 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 8px;
    display: block;
    width: 100%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
}

.popup__save-button {
    background-color: #000;
    border-radius: 2px;
    width: 358px;
    height: 50px;
    margin: 48px 0 0 0;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.popup__save-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 728px) {
    .popup__save-button {
        width: 238px;
        height: 46px;
        margin: 45px 0 0 0;
    }
}

.popup__save-button_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding-top: 14px;
}

@media screen and (max-width: 729px) {
    .popup__save-button_text {
        font-size: 14px;
        line-height: 17px;
    }
}