.video__iframe {
    width: 515px;
    height: 316px;
    margin-right: 20px;
    border: none;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.video__iframe:hover {
    opacity: 0.6;
}

.video__iframe:last-child {
    margin-right: 0;
}