.header__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 730px;
    font-size: 102px;
    line-height: 96px;
    font-weight: 600;
    margin: 0 0 0 64px;
    padding: 0;
    z-index: 2;
  }